body {
  min-height: 150vh;
  width:100%;
 }

nav.navbar, footer {
    z-index: 1015;
    background: #ABFFF9;
     /* Au cas où, pour les vieux navigateurs! */
    background: -webkit-linear-gradient(to right, #B1ABFF, #ABFFF9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B1ABFF, #ABFFF9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

nav.navbar{
    font-size: 120%;
 }

h1{
    margin-top:50px;
    z-index: 1015;
    background: #ABFFF9;
    /* Au cas où, pour les vieux navigateurs! */
    background: -webkit-linear-gradient(to right, #B1ABFF, #ABFFF9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B1ABFF, #ABFFF9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align:center;
    color: #7D79B3;
}

h3{
    margin-top:1.5% !important;
    text-decoration:underline;
    color:#B1ABFF;
    text-align:center;
    font-weight:bold;
}

#Presentation p, #Liens p, #Travaux p{
   margin:2%;
 }

img{
    margin:1%;
}

#Liens ul{
    margin-bottom:10%;
}

#Text-CV{
    font-size: 110%;
    font-family: Book-Antiqua;
}

*{
    font-size:105%;
}

/*CSS du formulaire*/
form {
    background-color:#FAFAFA;
    padding:10px;
    width:280px;
 }

label {
    margin-top:10px;
    display:block;
 }
label.inline {
     display:inline;
    margin-right:50px;
 }
input, textarea {
    background-color:#DDD9FF;
 }
input, textarea{
    padding:3px;
    border:1px solid #655EA6;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #E9E7FF inset;
 }


/* CSS plus général*/
.bg-gradient {
    background: #ABFFF9;
    /* Au cas où pour les vieux navigateurs ! */
    background: -webkit-linear-gradient(to right, #B1ABFF, #ABFFF9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B1ABFF, #ABFFF9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header>svg {
    z-index: 1010;
    display: block;
    pointer-events: none;
    transform-origin: top;
    animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
    height: 5em;
    width: 100%;
    margin-top: -1em;
}

header > svg path {
    z-index: 1010;
    fill: linear-gradient(to right, #B1ABFF, #ABFFF9);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 15px;
    background: #ABFFF9;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #B1ABFF;
    border: solid 3px transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive { 
    box-shadow: inset 0 0 14px #B1ABFF;
}

@keyframes animateWave {
  0% {
    transform: scale(1, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

